// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$primary: #92d8bb;
$primary-background: #47c490;
$accent: #afe0ff;
$accent-background: #007bc5;
$warning: #ffeb3d;